@model Onboard.Web.UI.Models.HRViewModels.CandidateSpecViewModel
<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>
                    Completed this month
                </h5>
                <div ibox-tools></div>
            </div>
            <div class="ibox-content">
                <div>
                    <canvas id="completedChart" height="120"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>
                    Completed each month for the past year
                </h5>
                <div ibox-tools></div>
            </div>
            <div class="ibox-content">
                <div>
                    @Html.Partial("_CompletedMonthly", Model.Onboarded)
                </div>
            </div>
        </div>
    </div>
</div>