<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>
                    All pending candidates per employee
                </h5>
                <div ibox-tools></div>
            </div>
            <div class="ibox-content">
                <div>
                    <canvas id="pendingChart" height="120"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>
                    HR Pending Aging
                </h5>
                <div ibox-tools></div>
            </div>
            <div class="ibox-content">
                <div>
                    
                </div>
            </div>
        </div>
    </div>
</div>