<div class="modal inmodal" id="Modal-Accept" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animated fadeIn">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <div class="row">
                    <div class="col-xs-pull-4">
                        <i class="fa fa-warning fa-5x text-warning"></i>
                    </div>
                </div>
                <h4 class="modal-title">Are you sure</h4>
                <small>Are you sure you want to accept the below candidate?</small>
            </div>
            <div class="modal-body">
                <div id="alert-append"> 
                    <p>&nbsp;</p>
                    <div class="alert alert-info text-center"> 
                        <p> <span id="Model-Accept-Name"></span></p>
                    </div>
                </div>
            </div>
            <input type="hidden" id="accept-enrollmentId" />
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" action="assign-enrollment-accept">Yes, accept</button>
            </div>
        </div>
    </div>
</div>