@model IEnumerable<Onboard.Web.UI.Models.HRViewModels.CandidateViewModel>
@{
    ViewData["Title"] = "Consultants";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-8">
        <h2>Consultants</h2>
        <ol class="breadcrumb">
            <li>
                Database
            </li>
            <li class="active">
                <strong>Consultants</strong>
            </li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-lg-8">
        <div class="wrapper wrapper-content animated fadeInUp">
            <div class="ibox">
                <div class="ibox-content">
                    <div class="row m-b-sm m-t-sm">
                        <div class="col-md-6">
                            <div class="input-group">
                                <input type="text" placeholder="Search" class="input-sm form-control"> <span class="input-group-btn">
                                    <button type="button" class="btn btn-sm btn-primary" action="search-consultant"> Go!</button>
                                </span>
                            </div>
                        </div>
                        <div class="col-lg-3">
                        </div>
                        <div class="col-lg-3">
                            <dl class="dl-horizontal pull-right" style="margin-top:12px; margin-bottom:0px;">
                                <span id="candidate-count">@Model.Count()</span>
                                Consultants
                            </dl>
                        </div>
                    </div>
                    <div id="clients-list">
                        @Html.Partial("_ConsultantList", Model)
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-4">
    <div id="consultant-details">
        @Html.Partial("ConsultantDetails", new Onboard.Web.UI.Models.HRViewModels.CandidateViewModel())
    </div>
</div>
</div>

@section scripts{
   <script>
       $(document).ready(function () {

       }).on('click', '#Consultant-Lists td', function () {
           $("#Consultant-Lists td").removeClass("row-select").removeClass("row-select-blk");
                    $(this).closest('tr').find('td').addClass("row-select");
                    $(this).closest('tr').find('td:last').removeClass("row-select").addClass("row-select-blk");

                    var EnrollmentId = $(this).closest('tr').attr("pk-id");
                    $.ajax({
                        type: "GET",
                        url: '@Url.Action("ConsultantDetails", "Database")',
                        data: { 'EnrollmentId': EnrollmentId },
                        success: function (result, textStatus, xhr) {
                            if (xhr.status === 302) {
                                alert("Your session has expired.  Please log in.");
                            }
                            else {
                                if (result.Success) {
                                    $('#consultant-details').html(result.Html);
                                }
                            }
                        }
                    });
           });

       $(document).ready(function () {
           $('#Client-Lists td').css('cursor', 'pointer');
       });
    </script>
    }
