
@{
    ViewData["Title"] = "Onbaord - Portfolio Manager";
}

<div class="row  border-bottom white-bg dashboard-header">
    <div class="col-lg-12">
        <h2>Portfolio Manager</h2>
    </div>
</div>

